/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url("images/space.png");
    margin: 0;
}

h1 {
    color: white;
    padding-left: 5em; 
}

p {
    color: white; 
    padding-left: 10em;
    padding-right: 25em;
}

.moon {
    transform: scale(0.6);
}

.links {
    text-align: center;
    gap: 100px;
}